h1
{
    color:yellowgreen;
}

a
{
    text-decoration: none;
    font-family: Impact;
    padding: 10px;
    font-size: 16px;
}

a:hover
{
    color:darkgreen;
    font-size: 18px;
}